<h1>Track a Campsite</h1>

<h3>California only for now...</h3>

<form onsubmit="wkndr.fetchCampsites(event)">
  <input id="campsite-name" type="text" placeholder="Campsite name">
  <input type="submit">
</form>

<div id="campsites-container"></div>
